// https://github.com/fontdasu/Mochiypop
@font-face {
    font-display: swap;
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/MochiyPopOne-Regular.woff2') format('woff2'),
        url('/fonts/MochiyPopOne-Regular.woff') format('woff'),
        url('/fonts/MochiyPopOne-Regular.ttf') format('ttf');
}
