@use 'sass:color';
@use 'sass:map';
@use 'sass:math';
@use 'sass:string';

@import './variables';

$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xll: 1600px,
  xxl: 1920px,
  xxxl: 2560px,
);

@function color_adjust($color, $amount) {
  @return color.adjust($color, $lightness: $amount);
}

@function string_unquote($str) {
  @return string.unquote($str);
}

@mixin breakpoint($point) {
  @media (min-width: map.get($breakpoints, $point)) {
    @content;
  }
}

@function grid($multiplier) {
  @return $grid-module * $multiplier;
}

@mixin absolute_full {
  position: absolute;
  inset: 0;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_vcenter {
  display: flex;
  align-items: center;
}
